<li class="span4">
  <!-- Blog image -->
  <%= link_to blog_path(blog) do %>
    <%= blog_image_for blog %>
  <% end %>
  </a>
  <h5><%= link_to blog.title, blog_path(blog) %></h5><br/>
  <small><%= blog.created_at %></small>
  <!-- Blog post description -->
  <p class="smallFontBy08"><%= link_to blog.body, blog_path(blog)  %></p>

  <!-- Blog read more -->
  <div>
    コメント（<%= link_to blog.comments.count, blog_path(blog) %>）
    <div class="read-more">
      <%= link_to "Read More...", blog_path(blog) %>
    </div>
  </div>
</li>