<p id="notice"><%= notice %></p>
<div class="main_container">
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= blog_image_for @blog %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>
</div>
<div class="comments_box">
<div class="posted_comments">
<% @blog.comments.each do |c| %>
<% i = 0 %>
  <div class="comment_number"><%= i += 1 %></div>
  <%= c.created_at %>
  <p><%= c.body %></p>
<% end %>
</div>
<div class="content_wrapper">
<%= form_for @blog.comments.build do |f| %>

	<%= f.hidden_field :blog_id %>

  <div class="field">
    <%= f.label :body, "Comment" %>
    <%= f.text_field :body %>
  </div>
  
  <div class="actions">
    <%= f.submit "Post!" %>
  </div>
<% end %>
</div>
</div>
</div>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
