<div class="row">
	<div class="span6 offset3">   
		<%= form_for @friend, html: { multipart: true} do |f| %>
		<div class="field">
			<%= f.label :title %><br>
			<%= f.text_field :title %>
		</div>
		<div class="field">
			<%= f.label :body %><br>
			<%= f.text_field :body %>
		</div>
		<div>
			<%= f.label :image %><br>
			<%= f.file_field :image %>
		</div>
		<div class="actions">
			<%= f.submit "登録" %>
		</div>
		<%= link_to "friend一覧へ", friends_path %>
		<% end %>
	</div>
</div>
