<div class="pages page-blog-list" id="page-blog-list">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <!-- Header -->
    <header>
        <h4 class="line-divider">Friend</h4>
        <!-- <h1>Leaders Relay Diary</h1> -->
        <h1><%= @friend.title %></h1>
        <div class="row">
            <div class="span8 offset2">
                <div class="input-append">
                  <input class="span5" id="appendedInputButton" type="text" placeholder="Search Friend Post">
                  <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <div class="row-fluid">
      <div class="span8 blog-details">
        <!-- Article -->
          <article>
            <!-- Blog image -->
            <%= friend_image_for @friend %>
            <!-- Blog title -->
            <h5>
              <%= @friend.title %><br/>
              <small>
                <%= @friend.created_at %>
              </small>
            </h5>
            <!-- Blog post description -->
            <%= @friend.body %>
            <hr />            
          </article>
          <!-- End Article -->
          <!-- Blog comments -->
          <div class="comments">
            <%= @responses.count %> comments
          </div>
          <div class="comments-details">
            <% @responses.each do |response| %>
              <div class="media">
                <div class="pull-left">
                  <!-- 投稿者の画像 -->
                </div> 
                <div class="media-body">
                  <div class="comments-post-info">
                    <small>
                      <% if response.user.nil? %>
                        no_name
                      <% else %>
                        <%= link_to "#{response.user.name}", "#" %>
                      <% end %>
                      <%= response.created_at %>
                    </small>
                  </div>
                    <p>
                      <%= response.body %>
                    </p>    
                </div>
              </div>
            <% end %>
          </div>
          <!-- End Blog comments -->
          <!-- Blog Write comment -->
          <div class="write-comment" id="write-replay">
            <h6>Drop a comment</h6>
            <!-- <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
            </p> -->
            <div class="row-fluid">
              <div class="span8">
                <%= form_for @friend.responses.build do |f| %>
                <%= f.hidden_field :friend_id %>
                  <div class="field">
                    <%= f.label :body, "Response" %>
                    <%= f.text_field :body %>
                  </div>
                  <div class="actions">
                    <!-- 'class'=>'btn btn-primary' -->
                    <%= f.submit "Post!"%>
                  </div>
                <% end %>
                </form>
              </div>
            </div>
          </div>
          <!-- End Blog Write comment -->
          </div>
          <!-- 最新記事を載せる５件まで -->
          <div class="span4 blog-list-right">
            <!-- Latest blog posts block -->
            <div class="block">
                <h6>Lates friend posts</h6>
                <ul class="simple-link-list">  
                  <% @friends.each do |friend| %>                            
                    <li>
                      <%= link_to "#{friend.title}", friend_path(friend) %>
                    </li>
                  <% end %>
                </ul>
            </div>
            <!-- Tags -->
            <div class="block">
              <h6>Topics</h6>
              <nav class="submenu">
                <ul>
                  <li>
                      <a href="./blog.html" class="active">All</a>
                  </li>
                  <li>
                      <a href="./blog.html">Traditionl Food</a>
                  </li>
                  <li>
                      <a href="./blog.html">Club Activeities</a>
                  </li>
                  <li>
                      <a href="./blog.html">Traditional Festival</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | BLOG -->
<!-- JQUERY -->
<?php use_javascript('jquery-1.10.2.min.js') ?>


<!-- TWITTER BOOTSTRAP -->
<?php use_javascript('bootstrap/bootstrap.min.js') ?>
<!--[if lt IE 9]>
    <script src="assets/js/bootstrap/html5shiv.js"></script>
<![endif]-->


<!-- PLUGINS -->

<?php use_javascript('plugins/jquery.bxslider.min.js') ?>
<?php use_javascript('plugins/jquery.centralized.min.js') ?>
<?php use_javascript('plugins/jquery.fixedonlater.min.js') ?>
<?php use_javascript('plugins/jquery.hashloader.min.js') ?>
<?php use_javascript('plugins/jquery.mixitup.min.js') ?>
<?php use_javascript('plugins/jquery.nav.min.js') ?>
<?php use_javascript('plugins/jquery.parallax-1.1.3.min.js') ?>
<?php use_javascript('plugins/jquery.responsivevideos.min.js') ?>
<?php use_javascript('plugins/jquery.scrollTo.min.js') ?>
<?php use_javascript('plugins/jquery.tweet.min.js') ?>
<?php use_javascript('plugins/jquery.tweetCarousel.min.js') ?>

<!-- INITIALIZE -->
<?php use_javascript('application/application.min.js') ?>



<!-- GOOGLE ANALYTICS -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44061294-1', 'gridelicious.net');
    ga('send', 'pageview');
</script>
