%body
  #page-blog-list.pages.page-blog-list
    .container
      %p#notice= notice
      / Header
      %header
        %h4.line-divider Friend
        / <h1>Leaders Relay Diary</h1>
        %h1= @friend.title
        .row
          .span8.offset2
            .input-append
              %input#appendedInputButton.span5{:placeholder => "Search Friend Post", :type => "text"}/
              %button.btn.btn-primary.sicon-search.sicon-white{:type => "button"}
                %i Search
      / End Header
      .row-fluid
        .span8.blog-details
          / Article
          %article
            / Blog image
            = friend_image_for @friend
            / Blog title
            %h5
              = @friend.title
              %br/
              %small
                = @friend.created_at
            / Blog post description
            = @friend.body
            %hr/
          / End Article
          / Blog comments
          .comments
            = @responses.count
            comments
          .comments-details
            - @responses.each do |response|
              .media
                .pull-left
                  / 投稿者の画像
                .media-body
                  .comments-post-info
                    %small
                      - if response.user.nil?
                        no_name
                      - else
                        = link_to "#{response.user.username}", "#"
                      = response.created_at
                  %p
                    = response.body
          / End Blog comments
          / Blog Write comment
          #write-replay.write-comment
            %h6 Drop a comment
            /
              <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </p>
            .row-fluid
              .span8
                = form_for @friend.responses.build do |f|
                  = hidden_field_tag "response[user_id]", current_user.id
                  = f.hidden_field :friend_id
                  .field
                    = f.label :body, "Response"
                    = f.text_field :body
                  .actions
                    / 'class'=>'btn btn-primary'
                    = f.submit "Post!"
          / End Blog Write comment
        / 最新記事を載せる５件まで
        .span4.blog-list-right
          / Latest blog posts block
          .block
            %h6 Lates friend posts
            %ul.simple-link-list
              - @friends.each do |friend|
                %li
                  = link_to "#{friend.title}", friend_path(friend)
          / Tags
          .block
            %h6 Topics
            %nav.submenu
              %ul
                %li
                  %a.active{:href => "./blog.html"} All
                %li
                  %a{:href => "./blog.html"} Traditionl Food
                %li
                  %a{:href => "./blog.html"} Club Activeities
                %li
                  %a{:href => "./blog.html"} Traditional Festival
  / END PAGE | BLOG
  / JQUERY
  !!! XML
  / TWITTER BOOTSTRAP
  !!! XML
  /[if lt IE 9]
    <script src="assets/js/bootstrap/html5shiv.js"></script>
  / PLUGINS
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  / INITIALIZE
  !!! XML
  / GOOGLE ANALYTICS
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44061294-1', 'gridelicious.net');
    ga('send', 'pageview');
