<li class="span4">
  <!-- Blog image -->
  <%= link_to board_path(board) do %>
    <%= board_image_for board %>
    <div class="portfolio-overlay">
      <h4><%= cut_off board.body, 150 %></h4>
    </div>
  <% end %>
  <h5><%= link_to board.title, board_path(board) %></h5><br/>
  <small><%= board.created_at %></small>
  <!-- Blog post description -->
</li>