<div class="row">
  <div class="span6 offset3">   
    <%= form_for @user.boards.build do |f| %>
    
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </div>
    <div>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <%= f.hidden_field :user_id %>
    <div class="actions">
      <%= f.submit "投稿" %>
    </div>
    <%= link_to "board一覧へ", boards_path %>
    <% end %>
  </div>
</div>
