.row
  .span6.offset3
    = form_for @user.boards.build do |f|
      .field
        = f.label :title
        %br/
        = f.text_field :title
      .field
        = f.label :body
        %br/
        = f.text_area :body, class: "ckeditor"
      .field
        = f.label "feature image"
        %br/
        = f.file_field :image
      .field
        = f.label "board category"
        %br/
        = f.select :category, [["Economics", "Economics"], ["Politics", "Politics"], ["Global Issues", "Global Issues"], ["Business", "Business"]],  :include_blank => true
      = hidden_field_tag "board[user_id]", current_user.id
      .actions
        = f.submit "Post"
      = link_to "go to boards index", boards_path
%script{:src => "//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"}
%script CKEDITOR.replace( 'ckeditor' );
