<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @board.body %>
</p>

<%= form_for @board.opinions.build do |f| %>

	<%= f.hidden_field :board_id %>

  <div class="field">
    <%= f.label :name, "Name" %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :body, "Opinion" %>
    <%= f.text_field :body %>
  </div>
  
  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
<div>
  <% @board.opinions.each do |b| %>
    <%= b.name %>
  	<%= b.body %>
    <%= b.created_at %>
  <% end %>
</div>
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
