<p id="notice"><%= notice %></p>
<div class="main_container">
  <p>
    <strong>Title:</strong>
    <%= @board.title %>
  </p>
  <p>
    <strong>Contents:</strong>
    <%= @board.body %>
  </p>
</div>
<hr>
<div class="opinions_box">
  <div class="posted_opinions">
    <% i = 0 %>
    <% @board.opinions.each do |b| %>
    <div class="opinion_number"><%= i += 1 %></div>
    <div class="information_container">
      <p class="opinion_name"><%= b.name %></p>
      <p class="opinion_created_time"><%= b.created_at %></p>
    </div>
    <div class="board_opinion">
      <%= b.body %>
    </div>
    <% end %>
  </div>
  <div class="content_wrapper">
    <%= form_for @board.opinions.build do |f| %>
      <%= f.hidden_field :board_id %>
        <div class="field">
          <%= f.label :name, "Name" %><br>
          <%= f.text_area :name %>
        </div>
        <div class="field">
          <%= f.label :body, "Opinion" %>
          <%= f.text_field :body %>
        </div>
        <div class="actions">
          <%= f.submit "登録する" %>
      </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Edit', edit_board_path(@board) %> |
  <%= link_to 'Back', boards_path %>
