%body
  #page-blog-list.pages.page-blog-list
    .container
      %p#notice= notice
      / Header
      %header
        %h4.line-divider Board
        %h1= @board.title
        / .row
        /   .span8.offset2
        /     .input-append
        /       %input#appendedInputButton.span5{:placeholder => "Search Blog", :type => "text"}/
        /       %button.btn.btn-primary.sicon-search.sicon-white{:type => "button"}
        /         %i Search
              
      / End Header
      .row-fluid
        .span8.blog-details
          / Article
          %article
            = board_image_for @board
            %h5
              = @board.title
              %br/
              - if @board.user
                %small
                  Written By 
                  = link_to "#{@board.user.username}", "#"
              - else
                %small
                  Posted By Admin, Written By no_name
              = @board.created_at.strftime('%Y/%m/%d')
            / Blog post description
            = raw @board.body
            %hr/
          / End Article
          / Blog comments
          .comments
            = @opinions.count
            = "comments".pluralize
          .comments-details
            .scroll-box
              .scroll-box-inner
                - @opinions.each do |opinion|
                  .media
                    .pull-left
                      / 投稿者の画像
                    .media-body
                      .comments-post-info
                        %small
                          - if opinion.user.nil?
                            no_name
                          - else
                            = link_to "#{opinion.user.username}", "#"
                          = opinion.created_at
                      %p
                        = opinion.body
            #write-replay.write-comment
              %h6 Drop a comment
              .row-fluid
                .span8
                  = form_for @board.opinions.build do |f|
                    = hidden_field_tag "opinion[user_id]", current_user.id
                    = f.hidden_field :board_id
                    .field.float-field
                      = f.text_area :body
                    .actions
                      = f.submit "Post!", class: "btn btn-primary"
          / End Blog comments
        .span4.blog-list-right
          / Latest board posts block
          .block
            %h6 Lates board posts
            %ul.simple-link-list
              - @lates_boards.each do |lates_board|
                %li
                  = link_to "#{lates_board.title}", board_path(lates_board)
          / Tags
          .block
            %h6 Topics
            %nav.submenu
              %ul
                %li
                  = link_to "all", boards_path
                %li
                  = link_to "economics", boards_search_by_category_path(category: "economics"), remote: true
                %li
                  = link_to "business", boards_search_by_category_path(category: "business"), remote: true
                %li
                  = link_to "global issues", boards_search_by_category_path(category: "global-issues"), remote: true
          / Tags
          .block
            %h6 Others
            %ul.simple-link-list
              %li
                = link_to "Make A New Board", new_board_path
              - if @board.user == current_user
                %li
                  = link_to "Edit This Board", edit_board_path(@board)
  / END PAGE | BLOG
  / JQUERY
  !!! XML
  / TWITTER BOOTSTRAP
  !!! XML
  /[if lt IE 9]
    <script src="assets/js/bootstrap/html5shiv.js"></script>
  / PLUGINS
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  !!! XML
  / INITIALIZE
  !!! XML
  / GOOGLE ANALYTICS
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44061294-1', 'gridelicious.net');
    ga('send', 'pageview');
