<!-- PAGE | WELCOME -->
<div class="pages white paralax page-welcome" id="page-welcome">
	<div class="overlay"></div>
	<!-- Centralized content -->
	<div class="centralized">
		<div class="container">
			<div class="row-fluid">
				<div class="span12 center">
					<!-- Animated logo -->
					<div class="logo">
						<div class="scrollNormal">
							<%= link_to "#page-friends" do %>
                <%= image_tag 'pages/welcome/logo2_welcome.png', :size => '140x140', :alt => 'Treble'%>
              <% end %>
						</div>
						<div class="scrollDown">
              <%= link_to "#page-friends" do %>
							  <%= image_tag 'pages/welcome/logo2_welcome.png', :size => '140x140', :alt => 'Treble'%>
              <% end %>
						</div> 
					</div>
					<div class="line-divider" id="welcome-messages">
						<ul class="slides">
							<li>
								<h1>GLOBAL</h1>
                <h1>NEXTLEADERS</h1>
                <h1>FORUM</h1>
                <small>KNOWLEDGE, EXPERIENCE, AND HUMAN NETWORKS</small>
              </li>
            </ul>
          </div>
          <div>
            <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
            <% if user_signed_in? %> 
              <!-- *_path はUserモデルを作成したときに、
                deviseにより自動で作成されてますので、rake routesで確認できます -->
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'プロフィール変更', edit_user_registration_path %> |
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "サインイン", new_user_registration_path %> |
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
          </div>
          <div class="social-icons sicon-white bordered">
            <%= link_to '#', class: "sicon-facebook" do %>
            <i>Faceook</i>
            <% end %>
            <%= link_to '#', class: "sicon-twitter" do %>
            <i>Twitter</i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | Welcome -->

<!-- PAGE | BOARD -->
<div class="pages page-boards" id="page-boards">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Boards</h4>
      <h1>Discuss with everyone</h1>
    </header>
    <!-- End Header -->
    <!-- Article -->
    <article>
      <!-- Board articles -->
      <ul class="thumbnails">
        <!-- Blog post -->
        <%= render @boards %>
      </ul>
    </article>
    <!-- End Article -->
    <!-- Footer -->
    <footer>
     <!-- More board posts -->
      <div class="show-more-cube">
        <%= link_to boards_path, class: "show-more-cube" do %>
         <span>Let's<br/>Talk</span>
        <% end %>
      </div>
    </footer>
    <!-- End Footer -->
  </div>
</div>
<!-- PAGE | OPINION -->
<div class="pages white paralax page-twitter">
  <!-- Page overlay -->
  <div class="overlay"></div> 
  <!-- Block content -->
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2">
        <h5 class="center">Latest Post</h5>
        <div class="twitter-devider"></div>
        <!-- Load Twitter boostrap container -->
        <div class="twitterfeed center slide" id="twitterfeed-slider">
          <ul class="tweet_list">
            <% @opinions.each do |opinion| %>
              <li class="tweet_text">
                <% if !opinion.user.nil? %>
                  <span><%= link_to opinion.user.username, "#" %></span>
                  <br>
                <% else %>
                  <span>no_name</span>
                  <br>
                <% end %>
                <%= cut_off(opinion.body, 170) %><br>
                <%= link_to board_path(opinion.board_id) do %>
                  <span>>> <%= opinion.board.title %></sspan>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | OPINION -->

<!-- PAGE | FRIENDS -->
<div class="pages page-friends" id="page-friends">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Friends</h4>
      <h1>Meet Friends</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->
    <!-- Article -->
    <article>
      <!-- List of people and description with their contact details which are visable on hover -->
      <div class="page-about">
        <ul class="thumbnails about-items">
          <%= render @friends %>
        </ul>
      </div>
    </article>
    <!-- End Article -->
    <!-- More blog posts -->
    <footer>
    <div class="show-more-cube">
    <%= link_to friends_path, class: "show-more-cube" do %>
    <span>All</br>friends</span>
    <% end %>
    </div>
    </footer>
  </div>
</div>
<!-- END PAGE | FRIEND -->

<!-- PAGE | BLOG -->
<div class="pages page-blog" id="page-blogs">
  <div class="container">
    <!-- Header -->
    <header>
     <h4 class="line-divider">Diary</h4>
     <h1>World Relay Diary</h1>
    </header>
    <!-- End Header -->
    <!-- Article -->
    <article>
    <!-- Blog articles -->
    <ul class="thumbnails">
      <!-- Blog post -->
        <%= render @blogs %>
    </ul>
    </article>
    <!-- End Article -->
    <!-- Footer -->
    <footer>
    <!-- More blog posts -->
    <div class="show-more-cube">
    <%= link_to blogs_path, class: "show-more-cube" do %>
    <span>All Blog<br/>Posts</span>
    <% end %>
    </div>
    </footer>
    <!-- End Footer -->
  </div>
</div>
<!-- END PAGE | BLOG -->

<!-- PAGE | WORK -->
<div class="pages page-work" id="page-sponsors">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Sponsors</h4>
      <div class="row">
        <div class="span8 offset2">
          <%= image_tag('logo/gnlf002.jpg', "width"=>"300", "height"=>"80") %>
        </div>
      </div>
    </header>
  </div>
</div>
   <!-- PAGE | CLIENTS -->
<!--      <div class="pages page-clients" id="page-clients">
     <div class="container">
      <h4 class="line-divider-inline center">Satisfied clients</h4> -->
      <!-- Client logos -->
      <!-- <div class="row-fluid">
       <div class="span2 center">
        <img src="http://placehold.it/180x70" alt="Treble">
      </div>
      <div class="span2 center">
        <img src="http://placehold.it/180x70" alt="Treble">
      </div>
      <div class="span2 center">
        <img src="http://placehold.it/180x70" alt="Treble">
      </div>
      <div class="span2 center">
        <img src="http://placehold.it/180x70" alt="Treble">
      </div>
      <div class="span2 center">
        <img src="http://placehold.it/180x70" alt="Treble">
      </div>
      <div class="span2 center">
        <img src="http://placehold.it/180x70" alt="Treble">
      </div>
    </div> -->
    <!-- Short text related to client's -->
    <!-- <div class="row-fluid">
     <div class="span8 offset2 center smallFontBy08">
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     </p>
   </div>
 </div>
</div>
</div> -->
<!-- END PAGE | CLIENTS -->






