<!--   <!DOCTYPE html>
<html lang="en">
  <head>
</head>
<body> -->
	<!-- NAVIGATION -->

	<!-- END NAVIGATION -->

	<!-- PAGE | WELCOME -->
	<div class="pages white paralax page-welcome" id="page-welcome">
		<div class="overlay"></div>
		<!-- Centralized content -->
		<div class="centralized">
			<div class="container">
				<div class="row-fluid">
					<div class="span12 center">
						<!-- Animated logo -->
						<div class="logo">
							<div class="scrollNormal">
								<%= image_tag 'logo_welcome.png', :size => '140x140', :alt => 'Treble' ,id:"page-friends"%>
							</div>
							<div class="scrollDown">
								<%= image_tag 'logo2_welcome.png', :size => '140x140', :alt => 'Treble' ,id:"page-friends"%>
							</div> 
						</div>
						<div class="line-divider" id="welcome-messages">
							<ul class="slides">
								<li>
									<h1>GLOBAL</h1>
                  <h1>NEXTLEADERS</h1>
                  <h1>FORUM</h1>
                  <small>KNOWLEDGE, EXPERIENCE, AND HUMAN NETWORKS</small>
                </li>
                <li>
                  <h1>Alumni&Alumnae</h1>
                  <h1>International</h1>
                  <h1>Community</h1>
                </li>
              </ul>
            </div>
            <div>
              <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
              <% if user_signed_in? %> 
                <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
                <!-- *_path はUserモデルを作成したときに、
                  deviseにより自動で作成されてますので、rake routesで確認できます -->
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'プロフィール変更', edit_user_registration_path %> |
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to "サインイン", new_user_registration_path %> |
                <%= link_to "ログイン", new_user_session_path %>
              <% end %>
            </div>
            <div class="social-icons sicon-white bordered">
              <%= link_to '#', class: "sicon-facebook" do %>
              <i>Faceook</i>
              <% end %>
              <%= link_to '#', class: "sicon-twitter" do %>
              <i>Twitter</i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END PAGE | Welcome -->
  <div class="pages page-friends" id="page-friends">
   <div class="container">
    <!-- Header -->
    <header>
     <h4 class="line-divider">Friends</h4>
     <h1>Meet Friends</h1>
     <div class="row">
      <div class="span8 offset2">
       <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</header>
<!-- End Header -->
<!-- Article -->
<article>
 <!-- List of people and description with their contact details which are visable on hover -->
 <div class="page-about">
  <ul class="thumbnails about-items">
    <%= render @friends %>
<!-- Team member short info -->
  </ul>
</div>
</article>
<!-- End Article -->
</div>
</div>
<!-- END PAGE | ABOUT -->
<!-- More blog posts -->
<footer>
 <div class="show-more-cube">
  <%= link_to friends_path, class: "show-more-cube" do %>
  <span>All</br>friends</span>
  <% end %>
</div>
</footer>

<!-- PAGE | BLOG -->
<div class="pages page-blog" id="page-blogs">
 <div class="container">
  <!-- Header -->
  <header>
   <h4 class="line-divider">Diary</h4>
   <h1>World Relay Diary</h1>
 </header>
 <!-- End Header -->

 <!-- Article -->
 <article>
  <!-- Blog articles -->
  <ul class="thumbnails">
    <!-- Blog post -->
      <%= render @blogs %>
  </ul>
</article>
<!-- End Article -->

<!-- Footer -->
<footer>
 <!-- More blog posts -->
 <div class="show-more-cube">
  <%= link_to blogs_path, class: "show-more-cube" do %>
  <span>All Blog<br/>Posts</span>
  <% end %>
</div>
</footer>
<!-- End Footer -->
</div>
</div>
<!-- END PAGE | BLOG -->


<!-- PAGE | WORK -->
<div class="pages page-work" id="page-sponsors">
 <div class="container">
  <!-- Header -->
  <header>
   <h4 class="line-divider">Sponsors</h4>
   <!-- Short desciption about Work in general -->
   <div class="row">
    <div class="span8 offset2">
      <%= image_tag('gnlf002.jpg', "width"=>"300", "height"=>"80") %>

  </div>
</div>

<!-- Sub menu -->
                <!-- 
                Params: 
                    plugin-filter: Defines links for filtering.
                  -->
<!--                   <nav class="submenu">
                   <ul>
                    <li>
                     <a href="#" class="plugin-filter active" data-filter="all">All</a>
                   </li>
                   <li>
                     <a href="#" class="plugin-filter" data-filter="typography">Typography</a>
                   </li>
                   <li>
                     <a href="#" class="plugin-filter" data-filter="illustration">Illustration</a>
                   </li>
                   <li>
                     <a href="#" class="plugin-filter" data-filter="branding">Branding</a>
                   </li>
                   <li>
                     <a href="#" class="plugin-filter" data-filter="photography">Photography</a>
                   </li>
                 </ul>
               </nav> -->
             <!-- </header> -->
             <!-- End Header -->

             <!-- Article -->

            <!-- End Article -->

            <!-- Footer -->
<!--             <footer>
             <div class="show-more-cube">
              <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
               <span>Show<br/>More</span>
             </a>
           </div>
         </footer> -->
         <!-- End footer -->
       </div>
     </div>
     <!-- END PAGE | WORK -->

     <!-- PAGE | CLIENTS -->
<!--      <div class="pages page-clients" id="page-clients">
       <div class="container">
        <h4 class="line-divider-inline center">Satisfied clients</h4> -->
        <!-- Client logos -->
        <!-- <div class="row-fluid">
         <div class="span2 center">
          <img src="http://placehold.it/180x70" alt="Treble">
        </div>
        <div class="span2 center">
          <img src="http://placehold.it/180x70" alt="Treble">
        </div>
        <div class="span2 center">
          <img src="http://placehold.it/180x70" alt="Treble">
        </div>
        <div class="span2 center">
          <img src="http://placehold.it/180x70" alt="Treble">
        </div>
        <div class="span2 center">
          <img src="http://placehold.it/180x70" alt="Treble">
        </div>
        <div class="span2 center">
          <img src="http://placehold.it/180x70" alt="Treble">
        </div>
      </div> -->
      <!-- Short text related to client's -->
      <!-- <div class="row-fluid">
       <div class="span8 offset2 center smallFontBy08">
        <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       </p>
     </div>
   </div>
 </div>
</div> -->
<!-- END PAGE | CLIENTS -->



<!-- PAGE | ABOUT -->

<!-- Board -->
<!-- PAGE | BLOG -->
<div class="pages page-blog" id="page-blogs">
  <div class="container">
  <!-- Header -->
    <header>
      <h4 class="line-divider">Boards</h4>
      <h1>Discuss with everyone</h1>
    </header>
 <!-- End Header -->

 <!-- Article -->
    <article>
      <!-- Blog articles -->
      <ul class="thumbnails">
        <!-- Blog post -->
          <%= render @boards %>
      </ul>
    </article>
<!-- End Article -->

<!-- Footer -->
    <footer>
     <!-- More blog posts -->
      <div class="show-more-cube">
        <%= link_to boards_path, class: "show-more-cube" do %>
         <span>Let's<br/>Talk</span>
        <% end %>
      </div>
    </footer>
<!-- End Footer -->
  </div>
</div>
<!-- END PAGE | BLOG -->
<!-- <div class="pages page-blog" id="page-boards">
  <div class="container"> -->
    <!-- Header -->
    <!-- <header>
      <h4 class="line-divider">Board</h4>
      <h1>Talk with Everyone!</h1> -->
<!--         <div class="row">
          <div class="span8 offset2">
            <div class="input-append">
              <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog">
              <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
            </div>
          </div>
        </div>
      -->
      <!-- Sub menu -->
<!--         <nav class="submenu">
          <ul>
            <li>
              <a href="./pages/blog/blog.html">All</a>
            </li>
            <li>
              <a href="./pages/blog/blog.html">Technology</a>
            </li>
            <li>
              <a href="./pages/blog/blog.html">Design</a>
            </li>
            <li>
              <a href="./pages/blog/blog.html">Future trends</a>
            </li>
            <li>
              <a href="./pages/blog/blog.html">Photography</a>
            </li>
            <li>
              <a href="./pages/blog/blog.html">Other</a>
            </li>
          </ul>
        </nav> -->
      <!-- End Header -->

      <!-- Article -->

    <!-- End Article -->


