<section id="item-content-wrapper" class="section">
  <div class="container">
    <div class="row">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          
          <div class="col-md-6 item-details wrapper-1">
            <h3 class="subpage-title"><i class="fa fa-pencil"></i>Edit <%= resource_name.to_s.humanize %> Profile</h3>
            <%= devise_error_messages! %>
            <ul class="project-details-list">
                <li>
                    <h6>email *required</h6>
                    <div class="project-terms">
                        <%= f.text_field :email, autofocus: true, class: "form-control" %>
                    </div>
                </li>
                <li>
                    <h6>password <i>(leave blank if you don't want to change it)</i></h6>
                    <div class="project-terms">
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div>
                </li>
                <li>
                    <h6>password again *required</h6>
                    <div class="project-terms">
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                    </div>
                </li>
                <li>
                    <h6>current password *<i>(we need your current password to confirm your changes)</i></h6>
                    <div class="field">                              
                      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                    </div>
                </li>
            </ul>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
        <!-- <h3>Cancel my account</h3>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        <%= link_to "Back", :back %> -->
    </div>
  </div>
</section>

